* {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 20px auto 0px;
}

table {
  width: 100%;
  margin: 20px auto 0px;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  background-color: white;
}

tr {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

tr:first-child {
  border-top: none;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
}

td {
  width: 120px;
  padding:10px;
}

.contact input, .search input {
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 8px;
}

.search input[name="add"] {
  padding: 10px;
  color: red;
}











//
